
body {
	background: #304352;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #d7d2cc, #304352);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #d7d2cc, #304352); 
	color:black;	
}



.title {
	font-family: 'Lobster', cursive;
}

.done {
	text-decoration:line-through;
	color: #cfcfcf;
}

